* {
  padding: 0;
  margin: 0;
}

button {
  width: 12em;
  height: 4em;
  margin: 1em 3em;
}

ul {
}

li {
}

#container {
  width: 100%;
  height: auto;
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#content {
}

.inner {
  width: 80%;
  justify-content: center;
}

.outer {
}
